<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>147528790359-oj9snngdl2msc8p6qtpkte5u21ausvh0.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to show weather forecasts for your upcoming events</string>
	<key>NSWeatherUsageDescription</key>
	<string>We use your location to show weather forecasts for your upcoming events</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.147528790359-oj9snngdl2msc8p6qtpkte5u21ausvh0</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-257685655143-ios-2f51fc8d45dd32941f0ec2</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
